# This is the notebook for the Intro to Data Science course

##Problem set 2: Wrangling Subway Data

###Number or Rainy Days

In [26]:
import pandas
import pandasql

def num_rainy_days(filename):
    weather_data = pandas.read_csv(filename)
    q = """
    SELECT
    count(rain) as rain_days
    FROM
    weather_data
    WHERE
    rain = 1
    """
    rainy_days = pandasql.sqldf(q.lower(),locals())
    print rainy_days

data = '/Users/mariohinojosa/Desktop/udacity_files/weather_underground.csv'

In [27]:
num_rainy_days(data)

   rain_days
0         10

###Temp on Foggy and Non-foggy Days

In [19]:
import pandas
import pandasql


def max_temp_aggregate_by_fog(filename):
    weather_data = pandas.read_csv(filename)
    q = """
    SELECT
    fog,
    max(maxtempi) as max_temp
    FROM
    weather_data
    GROUP BY
    1;
    """
    
    foggy_days = pandasql.sqldf(q.lower(),locals())
    print foggy_days

In [20]:
max_temp_aggregate_by_fog(data)

   fog  max_temp
0    0        86
1    1        81

###Mean Temp on Weekends

In [17]:
import pandas
import pandasql

def avg_weekend_temperature(filename):
    weather_data = pandas.read_csv(filename)
    q = """
    SELECT
    avg(meantempi) as avg_temp
    FROM
    weather_data
    WHERE
    cast(strftime('%w', date) as integer) in (0,6)
    ;
    """
    
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    print mean_temp_weekends

In [18]:
avg_weekend_temperature(data)

    avg_temp
0  65.111111

###Mean Temp on Rainy Days

In [23]:
import pandas
import pandasql

def avg_min_temperature(filename):
    weather_data = pandas.read_csv(filename)
    
    q = """
    SELECT
    avg(mintempi) as avg_mean_temp
    FROM
    weather_data
    WHERE
    mintempi > 55
    AND rain = 1
    ;
    """
    
    avg_mean_temp_rainy = pandasql.sqldf(q.lower(),locals())
    print avg_mean_temp_rainy

In [25]:
avg_min_temperature(data)

   avg_mean_temp
0          61.25

###Fixing Turnstile Data

In [ ]:
import csv

def fix_turnstile_data(filenames):